/*general style*/
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 30px 0 0 0;
  font-size: 1.7rem;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  background-color: #39393a; 
  overflow-x: hidden;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/*navigation bar*/
.mobile-nav-toggle {
  display: none;
}

.logo {
  width: 35%;
  margin: 2rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation a {
  text-decoration: none;
  color: #DCDCDD;
}

.primary-navigation {
  border-radius: 3px;
  z-index: 2;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    padding: min(30vh, 10em) 2em;
    background: hsl(0 0% 0% / 0.3);
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .primary-navigation[data-visible="true"] {
    	transform: translateX(0%);
  }
  .primary-navigation a {
    font-size: 5vh;
    color: #DCDCDD;
  }
  .primary-navigation {
    --gap: 2em;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 3;
    background-color: transparent;
    background: url('img/menu.svg');
    background-repeat: no-repeat;
    width: 3.5rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 1rem;

  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('img/close.svg');
  }
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: #50514fb9;
    backdrop-filter: blur(1rem);
  }
}

@media(min-width: 35em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 1rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}

a:hover {
  color: #9966ff;
}
a.active {
  color: #9966ff;
}

/*url shortener field*/
#field {
  top: 20vh;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 820px;
  height: 200px;
  border-radius: 3px;
  background-color: #50514f;
  box-shadow: 3px 4px .5px #70716f;
  overflow: hidden;
}

input[type="text"] {

  width: 600px;
  border: none;
  margin-top: 8%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  overflow: hidden;
  color: #DCDCDD;
  background-color: transparent;
  border-bottom: 2px solid #A6A2A2;
  letter-spacing: 1.5px;
  outline: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

input[type=text]:focus{
  border-bottom: 2px solid #9966ff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
input[type=text]::placeholder {
  text-align: center;
}
input:focus::placeholder {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: transparent;
}

input[type=submit] {
  margin-top: 2%;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  height: 50px;
  width: 200px;
  border: 0px;
  border-radius: 3px;
  background-color: #9966ff;
  color: #50514f;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#a579ff;
}

/*other*/
.sr-only {
  visibility: hidden;
}